.flexbox {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(156, 156, 156);
}

.flexbox1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px
} 

.flexbox1 input {
  width: 100px;
  height: 20px;
}

.App {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 60%;
  background-color: white;
  border-radius: 40px;
}

.mini-container{
  display: flex ;
  gap: 30px;
  align-items: center;
  justify-content: center ;
}

.letter {
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
}

.background_image img  {
  height: 150px;
  width: 150px;
  
}

.image_and_traits {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.image_and_traits h1 {
  font-size: 50px;
}
